[#clj-duckling.engine/rule {:name "secunde (unit-of-duration)",
                            :pattern "#\"(?i)sec(und)?[aăe]?\"",
                            :production "{:dim :unit-of-duration, :grain :second}"}
 #clj-duckling.engine/rule {:name "minute (unit-of-duration)",
                            :pattern "#\"(?i)min(uteÂul)?\"",
                            :production "{:dim :unit-of-duration, :grain :minute}"}
 #clj-duckling.engine/rule {:name "ora (unit-of-duration)",
                            :pattern "#\"(?i)h|or(ele|a|ă)\"",
                            :production "{:dim :unit-of-duration, :grain :hour}"}
 #clj-duckling.engine/rule {:name "ziua (unit-of-duration)",
                            :pattern "#\"(?i)zi(lele|le|u[aă])?\"",
                            :production "{:dim :unit-of-duration, :grain :day}"}
 #clj-duckling.engine/rule {:name "saptamani (unit-of-duration)",
                            :pattern "#\"(?i)sapt[aă]m[aâ]n(ile|a|ă|i)\"",
                            :production "{:dim :unit-of-duration, :grain :week}"}
 #clj-duckling.engine/rule {:name "luni (unit-of-duration)",
                            :pattern "#\"(?i)lun(ile|i|a|ă)\"",
                            :production "{:dim :unit-of-duration, :grain :month}"}
 #clj-duckling.engine/rule {:name "ani (unit-of-duration)",
                            :pattern "#\"(?i)an(ul|ii|i)?\"",
                            :production "{:dim :unit-of-duration, :grain :year}"}
 #clj-duckling.engine/rule {:name "quarter of an hour",
                            :pattern "[#\"(?i)(1/4\\s?(h|or[aă])|sfert de or[aă])\"]",
                            :production "{:dim :duration, :value (duration :minute 15)}"}
 #clj-duckling.engine/rule {:name "jumatate de ora",
                            :pattern "[#\"(?i)(1/2\\s?(h|or[aă])|jum[aă]tate (de)? or[aă])\"]",
                            :production "{:dim :duration, :value (duration :minute 30)}"}
 #clj-duckling.engine/rule {:name "trei sferturi de ora",
                            :pattern "[#\"(?i)(3/4\\s?(h|or[aă])|trei sferturi de or[aă])\"]",
                            :production "{:dim :duration, :value (duration :minute 45)}"}
 #clj-duckling.engine/rule {:name "<integer> <unit-of-duration>",
                            :pattern "[(integer 0) (dim :unit-of-duration)]",
                            :production "{:dim :duration, :value (duration (:grain %2) (:value %1))}"}
 #clj-duckling.engine/rule {:name "o <unit-of-duration>",
                            :pattern "[#\"(?i)o|un\" (dim :unit-of-duration)]",
                            :production "{:dim :duration, :value (duration (:grain %2) 1)}"}
 #clj-duckling.engine/rule {:name "in <duration>",
                            :pattern "[#\"(?i)[iî]n\" (dim :duration)]",
                            :production "(in-duration (:value %2))"}
 #clj-duckling.engine/rule {:name "pentru <duration>",
                            :pattern "[#\"(?i)pentru\" (dim :duration)]",
                            :production "(in-duration (:value %2))"}
 #clj-duckling.engine/rule {:name "dupa <duration>",
                            :pattern "[#\"(?i)dup[aă]\" (dim :duration)]",
                            :production "(merge (in-duration (:value %2)) {:direction :after})"}
 #clj-duckling.engine/rule {:name "<duration> de acum",
                            :pattern "[(dim :duration) #\"(?i)de (acum|azi)\"]",
                            :production "(in-duration (:value %1))"}
 #clj-duckling.engine/rule {:name "<duration> in urma",
                            :pattern "[(dim :duration) #\"(?i)[iî]n urm[aă]\"]",
                            :production "(duration-ago (:value %1))"}
 #clj-duckling.engine/rule {:name "<duration> inainte de <time>",
                            :pattern "[(dim :duration) #\"(?i)[iî]nainte de\" (dim :time)]",
                            :production "(duration-before (:value %1) %3)"}
 #clj-duckling.engine/rule {:name "in jur de <duration>",
                            :pattern "[#\"(?i)(aproximativ|[iî]n jur de)\" (dim :duration)]",
                            :production "(-> %2 (merge {:precision \"approximate\"}))"}
 #clj-duckling.engine/rule {:name "exact <duration>",
                            :pattern "[#\"(?i)exact\" (dim :duration)]",
                            :production "(-> %2 (merge {:precision \"exact\"}))"}]
