[#clj-duckling.engine/rule {:name    "number as temp"
                            :pattern   "(dim :number)"
                            :production  "{:dim :temperature
                                           :latent true
                                           :value (:value %1)}"}
 #clj-duckling.engine/rule {:name "<latent temp> grade"
                            :pattern "[(dim :temperature) #\"(?i)(grade)|°\"]"
                            :production "(-> %1 (dissoc :latent)
                                                (merge {:unit \"degree\"}))"}
 #clj-duckling.engine/rule {:name "<temp> Celcius"
                            :pattern "[(dim :temperature) #\"(?i)c(el[cs]?(ius)?)?\.?\"]"
                            :production "(-> %1 (dissoc :latent)
                                                (merge {:unit \"celsius\"}))"}
 #clj-duckling.engine/rule {:name "<temp> Fahrenheit"
                            :pattern "[(dim :temperature) #\"(?i)f(ah?rh?eh?n(h?eit)?)?\.?\"]"
                            :production "(-> %1 (dissoc :latent
                                                (merge {:unit \"fahrenheit\"})))"}]
