{:duckling/core {:languages ["ro" "en" "fr"]
                 :logger #ig/ref :duckling/logger}

 :duckling/logger {:level    :debug
                   :ns-whitelist  ["duckling.core" "duckling.learn"]
              :ns-blacklist  ["taoensso.*"]
              :appender {:println (println-appender {:stream :auto})}}

 }
