[#clj-duckling.engine/rule {:name "second (unit-of-duration)", :pattern "#\"(?i)sec(ond[oi])?\"", :production "{:dim :unit-of-duration, :grain :second}"}
 #clj-duckling.engine/rule {:name "minute (unit-of-duration)", :pattern "#\"(?i)min(ut[oi])?\"", :production "{:dim :unit-of-duration, :grain :minute}"}
 #clj-duckling.engine/rule {:name "hour (unit-of-duration)", :pattern "#\"(?i)or[ae]\"", :production "{:dim :unit-of-duration, :grain :hour}"}
 #clj-duckling.engine/rule {:name "day (unit-of-duration)", :pattern "#\"(?i)giorn[oi]\"", :production "{:dim :unit-of-duration, :grain :day}"}
 #clj-duckling.engine/rule {:name "week (unit-of-duration)", :pattern "#\"(?i)settiman[ae]\"", :production "{:dim :unit-of-duration, :grain :week}"}
 #clj-duckling.engine/rule {:name "month (unit-of-duration)", :pattern "#\"(?i)mes[ei]\"", :production "{:dim :unit-of-duration, :grain :month}"}
 #clj-duckling.engine/rule {:name "year (unit-of-duration)", :pattern "#\"(?i)ann[oi]\"", :production "{:dim :unit-of-duration, :grain :year}"}
 #clj-duckling.engine/rule {:name "<integer> <unit-of-duration>", :pattern "[(integer 0) (dim :unit-of-duration)]", :production "{:dim :duration, :value (duration (:grain %2) (:value %1))}"}
 #clj-duckling.engine/rule {:name "une <unit-of-duration>", :pattern "[#\"(?i)un[a']?\" (dim :unit-of-duration)]", :production "{:dim :duration, :value (duration (:grain %2) 1)}"}
 #clj-duckling.engine/rule {:name "un quarto d'ora", :pattern "[#\"(?i)un quarto d['i] ?ora\"]", :production "{:dim :duration, :value (duration :minute 15)}"}
 #clj-duckling.engine/rule {:name "mezz'ora", :pattern "[#\"(?i)mezz[a'] ?ora\"]", :production "{:dim :duration, :value (duration :minute 30)}"}
 #clj-duckling.engine/rule {:name "tre quarti d'ora", :pattern "[#\"(?i)(3|tre) quarti d['i] ?ora\"]", :production "{:dim :duration, :value (duration :minute 45)}"}
 #clj-duckling.engine/rule {:name "in/after <duration>", :pattern "[#\"(?i)[tf]ra|dopo\" (dim :duration)]", :production "(in-duration (:value %2))"}
 #clj-duckling.engine/rule {:name "<duration> ago", :pattern "[(dim :duration) #\"(?i)fa\"]", :production "(duration-ago (:value %2))"}]